Outros/
Outros/*

01-hola-mundo/node_modules/
01-hola-mundo/node_modules/*
01-hola-mundo/node_modules/**
01-hola-mundo/node_modules/**.*
02-fundamentos/node_modules/
02-fundamentos/node_modules/*
02-fundamentos/node_modules/**
02-fundamentos/node_modules/**.*
03-tabla-consola/node_modules/
03-tabla-consola/node_modules/*
03-tabla-consola/node_modules/**
03-tabla-consola/node_modules/**.*
04-tareas-hacer/node_modules/
04-tareas-hacer/node_modules/*
04-tareas-hacer/node_modules/**
04-tareas-hacer/node_modules/**.*
04-tareas-hacer/.env
05-node-clima-app-main/node_modules/
05-node-clima-app-main/node_modules/*
05-node-clima-app-main/node_modules/**
05-node-clima-app-main/node_modules/**.*
05-node-clima-app-main/.env
06-webserver/node_modules/
06-webserver/node_modules/*
06-webserver/node_modules/**
06-webserver/node_modules/**.*
06-webserver/.env
07-restserver/node_modules/
07-restserver/node_modules/*
07-restserver/node_modules/**
07-restserver/node_modules/**.*
07-restserver/.env
08-curso-node-restserve/node_modules/
08-curso-node-restserve/node_modules/*
08-curso-node-restserve/node_modules/**
08-curso-node-restserve/node_modules/**.*
08-curso-node-restserve/.env
09-curso-node-restserver/node_modules/
09-curso-node-restserver/node_modules/*
09-curso-node-restserver/node_modules/**
09-curso-node-restserver/node_modules/**.*
09-curso-node-restserver/.env
12-curso-node-restserver/node_modules/
12-curso-node-restserver/node_modules/*
12-curso-node-restserver/node_modules/**
12-curso-node-restserver/node_modules/**.*
12-curso-node-restserver/.env
13-curso-node-restserver/node_modules/
13-curso-node-restserver/node_modules/*
13-curso-node-restserver/node_modules/**
13-curso-node-restserver/node_modules/**.*
13-curso-node-restserver/.env
14-websocket-server/node_modules/
14-websocket-server/node_modules/*
14-websocket-server/node_modules/**
14-websocket-server/node_modules/**.*
14-websocket-server/.env
curso-node-restserver/node_modules/
curso-node-restserver/node_modules/*
curso-node-restserver/node_modules/**
curso-node-restserver/node_modules/**.*
curso-node-restserver/.env
curso-node-restserver-2.1.0/node_modules/
curso-node-restserver-2.1.0/node_modules/*
curso-node-restserver-2.1.0/node_modules/**
curso-node-restserver-2.1.0/node_modules/**.*
curso-node-restserver-2.1.0/.env
curso-node-restserver-2.2.0/node_modules/
curso-node-restserver-2.2.0/node_modules/*
curso-node-restserver-2.2.0/node_modules/**
curso-node-restserver-2.2.0/node_modules/**.*
curso-node-restserver-2.2.0/.env
curso-node-restserver-3.0.0/node_modules/
curso-node-restserver-3.0.0/node_modules/*
curso-node-restserver-3.0.0/node_modules/**
curso-node-restserver-3.0.0/node_modules/**.*
curso-node-restserver-3.0.0/.env
curso-node-restserver-4.0.0/node_modules/
curso-node-restserver-4.0.0/node_modules/*
curso-node-restserver-4.0.0/node_modules/**
curso-node-restserver-4.0.0/node_modules/**.*
curso-node-restserver-4.0.0/.env
curso-node-restserver-5.0.0/node_modules/
curso-node-restserver-5.0.0/node_modules/*
curso-node-restserver-5.0.0/node_modules/**
curso-node-restserver-5.0.0/node_modules/**.*
curso-node-restserver-5.0.0/.env

curso-node-socket-server-basico-main/node_modules/
curso-node-socket-server-basico-main/node_modules/*
curso-node-socket-server-basico-main/node_modules/**
curso-node-socket-server-basico-main/node_modules/**.*
curso-node-socket-server-basico-main/.env



curso-node-webserver-express-1.0.0_hbs/node_modules/
curso-node-webserver-express-1.0.0_hbs/node_modules/*
curso-node-webserver-express-1.0.0_hbs/node_modules/**
curso-node-webserver-express-1.0.0_hbs/node_modules/**.*
curso-node-webserver-express-1.0.0_hbs/.env





curso-node-webserver-express-1.0.0_hbs/node_modules/
curso-node-webserver-express-1.0.0_hbs/node_modules/*
curso-node-webserver-express-1.0.0_hbs/node_modules/**
curso-node-webserver-express-1.0.0_hbs/node_modules/**.*
curso-node-webserver-express-1.0.0_hbs/.env






15-curso-node-socket-colas/node_modules/
15-curso-node-socket-colas/node_modules/*
15-curso-node-socket-colas/node_modules/**
15-curso-node-socket-colas/node_modules/**.*
15-curso-node-socket-colas/.env

16-curso-node-socket-chat/node_modules/
/16-curso-node-socket-chat/node_modules/




16-curso-node-socket-chat/node_modules
16-curso-node-socket-chat/node_modules/*
16-curso-node-socket-chat/node_modules/**
16-curso-node-socket-chat/node_modules/**.*
16-curso-node-socket-chat/.env


curso-node-socket-colas-main/node_modules/
curso-node-socket-colas-main/node_modules/*
curso-node-socket-colas-main/node_modules/**
curso-node-socket-colas-main/node_modules/**.*
curso-node-socket-colas-main/.env



curso-node-socket-chat-main/node_modules
curso-node-socket-chat-main/node_modules/*
curso-node-socket-chat-main/node_modules/**
curso-node-socket-chat-main/node_modules/**.*
curso-node-socket-chat-main/.env


17-curso-node-restserver-ts-MySQL/node_modules
17-curso-node-restserver-ts-MySQL/node_modules/*
17-curso-node-restserver-ts-MySQL/node_modules/**
17-curso-node-restserver-ts-MySQL/node_modules/**.*
17-curso-node-restserver-ts-MySQL/.env



curso-node-socket-chat-main/node_modules
curso-node-socket-chat-main/node_modules/*
curso-node-socket-chat-main/node_modules/**
curso-node-socket-chat-main/node_modules/**.*
curso-node-socket-chat-main/.env


node_modules/


curso-node-restserver-ts-MySQL

.env