/03-tabla-consola/node_modules
/03-tabla-consola/tablas/*.txt
/03-tabla-consola/salida/*.txt
/04-tareas-hacer/node_modules
/05-clima-app/node_modules
/05-clima-app/node_modules
/05-node-clima-app-main/node_modules
/06-webserver/node_modules
/08-curso-node-restserve/node_modules
/09-curso-node-restserver/node_modules
/node_modules/